<div class="flx-container dual-bg">
    <div class="flx-row details-wrap">
        <div class="content-wrap">
            <div class="title f32 raleway-font fcb fwb mrg-b10">Intrest in Fields</div>
            <div class="sub-title f14 raleway-font fcg">Pick any five to help us understand you</div>
            <div class="mrg-tb50">
                <div class="title f20 raleway-font fcb fwb mrg-tb20">Industry</div>
                <button class="pointer raleway-font f14 set-btn">Film </button>
                <button class="pointer raleway-font f14 set-btn">TV </button>
                <button class="pointer raleway-font f14 unset-btn">Advertisement</button>
                <button class="pointer raleway-font f14 unset-btn">Modling</button>
                <button class="pointer raleway-font f14 unset-btn">Radio</button>
            </div>
            <div class="mrg-tb50">
                <div class="title f20 raleway-font fcb fwb mrg-tb20">Language</div>
                <button class="pointer raleway-font f14 unset-btn">Tamil </button>
                <button class="pointer raleway-font f14 set-btn">Telugu </button>
                <button class="pointer raleway-font f14 set-btn">English</button>
                <button class="pointer raleway-font f14 unset-btn">Hindi</button>
                <button class="pointer raleway-font f14 unset-btn">Kannada</button>
            </div>
            <div class="mrg-tb50">
                <div class="title f20 raleway-font fcb fwb mrg-tb20">Craft</div>
                <button class="pointer raleway-font f14 unset-btn">Edditing </button>
                <button class="pointer raleway-font f14 set-btn">Script writing </button>
                <button class="pointer raleway-font f14 unset-btn">Audiography</button>
                <button class="pointer raleway-font f14 set-btn">Movie casting</button>
                <button class="pointer raleway-font f14 unset-btn">Technical unit</button>
            </div>
            <div class="custom-form  details-form footer-wrap text-center">
                <button class="default-btn pointer raleway-font uppercase f18 custom-btn"> < Back</button>
                <button class="gradient-btn pointer raleway-font uppercase f18 custom-btn">Next > </button>
            </div>
        </div>
        <div class="nav-wrap flx-column raleway-font">
            <div class="nav-block flx-aic flx-jcc">
                <div class="flx-row nav-content">
                    <div class="nav-ellipse robot-font fwb f20 inactive">1</div>
                    <div class="nav-text f16">Personal information</div>
                </div>
            </div>
            <div class="nav-block flx-aic flx-jcc">
                <div class="flx-row nav-content">
                    <div class="nav-ellipse robot-font fwb f20 inactive">2</div>
                    <div class="nav-text f16">Mobile Verification</div>
                </div>
            </div>
            <div class="nav-block flx-aic flx-jcc">
                <div class="flx-row nav-content">
                    <div class="nav-ellipse robot-font fwb f20 active">3</div>
                    <div class="nav-text f16">Set your screen Name</div>
                </div>
            </div>
            <div class="nav-block flx-aic flx-jcc">
                <div class="flx-row nav-content">
                    <div class="nav-ellipse robot-font fwb f20 inactive">4</div>
                    <div class="nav-text f16">Intrest of Feed</div>
                </div>
            </div>
        </div>
    </div>
</div>