<div class="flx-container blue-bg">
  <div class="flx-wrapper">
    <div class="ekm-wrap">
      <div class="flx-row flx-ais height-100">
        <div class="flx-two-block height-100">
          <div class="men-bannar-wrap height-100">
            <span class="banner-title f28 robot-font fcw Lh1 fwb">Showcase your<br/> talent and be the<br/> next super star</span>
          </div>
        </div>
        <div class="flx-two-block login-content">
          <form #emailResetForm="ngForm" class="custom-form login-form">
            <div class="social-title f14 raleway-font fcg">Verification link has been sent to registered Email</div>
            <div class="social-title f14 raleway-font fcg"><span class="pointer hyper-link fwb">Go to email</span></div>
            <div class="back-link f14 raleway-font fcg text-center">Back to <span class="pointer hyper-link fwb">Login</span></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>