<div class="flx-container">
  <div class="flx-row">
    <div class="picture-wrap flx-jcc flx-aic">
      <img src="../../assets/404.jpeg" alt="404" />
    </div>
    <div class="content-wrap flx-jcc flx-aic">
      <div class="title raleway-font fcb text-center">Awww...Don’t Cry.</div>
      <div class="sub-title robot-font fcb text-center">It's just a 404 Error!</div>
      <div class="sub-title robot-font  fcb text-center">What you’re looking for may have been misplaced <br /> in Long Term Memory.</div>
    </div>
  </div>
</div>