<div class="flx-container blue-bg">
    <div class="flx-wrapper">
        <div class="ekm-wrap">
            <div class="flx-row flx-ais height-100">
                <div class="flx-two-block height-100">
                    <div class="men-bannar-wrap height-100">
                        <span class="banner-title f28 robot-font fcw Lh1 fwb">Showcase your<br/> talent and be the<br/> next super star</span>
                    </div>
                </div>
                <div class="flx-two-block login-content">
                    <div class="title f32 raleway-font fcb fwb">Login</div>
                    <div class="social-title f18 raleway-font fcg">Login using</div>
                    <button type="button" class="social-btn btn btn-fb raleway-font f12 fwb"><i class="fab fa-facebook-f"></i> Facebook</button>
                    <button type="button" class="social-btn btn btn-gplus raleway-font f12 fwb"><i class="fab fa-google-plus-g"></i> Google</button>
                    <form #loginForm="ngForm" class="custom-form login-form" (ngSubmit)="onLogin(loginForm.valid)">
                    <!-- <div style="border:1px solid #ccc;border-radius:25px;padding: 2px 15px;"> -->
                        <mat-form-field class="custom-input mrg-b10">
                            <mat-label>Email / Mobile number</mat-label>
                            <input matInput required autocomplete="off">
                        </mat-form-field>
                    <!-- </div> -->
                        <mat-form-field class="custom-input mrg-b10">
                            <mat-label>Password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'">
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        </mat-form-field>
                        <div class="f14 pointer hyper-link raleway-font fcg fwb text-right">Forgot password?</div>
                        <button class="gradient-btn pointer raleway-font uppercase f18 login-btn">Login</button>
                        <div class="social-title f14 raleway-font fcg text-center">New user ? <span class="pointer hyper-link fwb">Create account</span></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>