@import '../../partials/variables';
.blue-bg {
    background: $primary-bg;
}

.banner-title {
    display: inline-block;
    text-align: center;
    margin: 14% 0 0 44%;
}

.forgot-content {
    padding: 8% 1% 0 6%;
    .title {
        padding-bottom: 2%;
    }
    .sub-title {
        padding-bottom: 8%;
    }
    .social-title {
        padding-bottom: 3%;
    }
    .social-btn {
        margin-right: 10px;
    }
    .policy {
        width: 100%;
        margin: 10px 0;
        line-height: 1.3;
    }
    .login-btn{
        margin: 45px 0 20px;
    }
}

.forgot-form {
    margin: 10% 0 0;
    width: 70%;
}