<div class="flx-container blue-bg">
    <div class="flx-wrapper">
        <div class="ekm-wrap">
            <div class="flx-row flx-ais height-100">
                <div class="flx-two-block height-100">
                    <div class="men-bannar-wrap height-100">
                        <span class="banner-title f28 robot-font fcw Lh1 fwb">We just sent a code to<br/> your phone</span>
                    </div>
                </div>
                <div class="flx-two-block login-content">
                    <div class="social-title f14 raleway-font fcg">OTP has sent to registered Mobile</div>
                    <form #loginForm="ngForm" class="custom-form login-form" (ngSubmit)="onSubmit(loginForm.valid)">
                        <mat-form-field class="custom-input mrg-b10">
                            <input matInput placeholder="Enter OTP">
                        </mat-form-field>
                        <button class="gradient-btn pointer raleway-font uppercase f18 login-btn">Submit</button>
                        <div class="social-title f14 raleway-font fcg text-center">Didn't get OTP? <span class="pointer hyper-link fwb">Resend</span></div>
                        <div class="back-link f14 raleway-font fcg text-center">Back to <span class="pointer hyper-link fwb">Login</span></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>