<div class="flx-container blue-bg">
  <div class="flx-wrapper">
      <div class="ekm-wrap">
          <div class="flx-row flx-ais height-100">
              <div class="flx-two-block height-100">
                  <div class="men-bannar-wrap height-100">
                      <span class="banner-title f28 robot-font fcw Lh1 fwb">Showcase your<br/> talent and be the<br/> next super star</span>
                  </div>
              </div>
              <div class="flx-two-block login-content">
                  <div class="title f32 raleway-font fcb fwb">Select how you'd choose<br/> to change password</div>
                  <div class="social-title f14 raleway-font fcg">Verification will be sent to selected method</div>
                  <form #loginForm="ngForm" class="custom-form login-form" (ngSubmit)="onLogin(loginForm.valid)">
                    <mat-radio-group>
                      <mat-radio-button class="custom-radio" value="email" checked="true">Send me email</mat-radio-button>
                      <mat-radio-button class="custom-radio" value="mobile">Send me OTP to my mobile ending with ()</mat-radio-button>
                    </mat-radio-group>
                      <button class="gradient-btn pointer raleway-font uppercase f18 login-btn">Submit</button>
                      <div class="social-title f14 raleway-font fcg text-center">Back to <span class="pointer hyper-link fwb">Login</span></div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>