@import './variables.scss';
.form-submitted,
.instalment-submitted {
    .ng-invalid {
        border-color: #B71C1C !important;
        input {
            border-color: #B71C1C !important;
        }
        &+label {
            color: #B71C1C;
        }
        .mydp {
            border-color: #B71C1C !important;
        }
    }
    .ng-select {
        &.ng-invalid {
            .ng-control {
                border-color: #B71C1C !important;
            }
        }
    }
}

.custom-form {
    .custom-input {
        width: 100%;
    }
    .gradient-btn {
        padding: 15px 0;
        transition: 0.5s;
        background-size: 200% auto;
        color: $white;
        width: 100%;
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        border-radius: 25px;
        border: none;
    }
    .gradient-btn {
        background-image: linear-gradient(to right, $gradient-lt 0%, $gradient-dr 51%, $gradient-lt 100%)
    }
    .gradient-btn:hover {
        background-position: right center;
    }
}