$primary-bg: #00102c;
$white-bg:#ffffff;
$layout-radius:30px;
$white:#fff;
$black:#000;
$gray:#999999;
$fb-bg:#395398;
$gplus-bg:#ce391b;
$input-br:#cccccc;
$gradient-lt: #fb4468;
$gradient-dr:#e9222f;
$link-color:#e9222f;